.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    object-fit: cover;
    margin-right: 30px;
}

@media screen and (max-width: 768px) {
    .profile__avatar {
        margin: 0 auto 26px;
    }
}