.card__delete-button {
    background-image: url(../../../images/del-btn.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
    transition: opacity 0.5s ease;
    padding: 0;
}

.card__delete-button:hover {
    opacity: 0.5;
}