.profile__info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .profile__info {
        align-items: center;
    }
}