.profile__name {
    max-width: 294px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 555px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        max-width: 189px;
    }
}